name: jardinetes-ct

services:
  jardinetes:
    container_name: jardinetes-ct
    image: "${COMPOSE_PROJECT_NAME}:node-${NODE_VERSION}"
    build:
      context: .
      args:
        PLATFORM: ${PLATFORM}
        PROJECT: ${COMPOSE_PROJECT_NAME}
        NODE_VERSION: ${NODE_VERSION}
    ports:
      - "8080:8081"
    env_file:
      - path: env/${COMPOSE_PROJECT_NAME}.env
        required: true
