rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permitir leitura pública na coleção "jardinetes"
    match /jardinetes/{document=**} {
      allow read: if true;
      allow write: if true;
    }

    // Regra geral para todas as outras coleções
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
