.login-page {
  background-color: #166034;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page .overlap-group-wrapper {
  background-color: #166034;
  height: 1024px;
  overflow: hidden;
  width: 100%;
}

.login-page .overlap-group {
  height: 1924px;
  left: -105px;
  position: relative;
  top: -782px;
  width: 2384px;
}

.login-page .ellipse {
  background-color: #fffef499;
  border-radius: 145px/133px;
  height: 266px;
  left: 0;
  position: absolute;
  top: 1658px;
  width: 290px;
}

.login-page .vector {
  height: 183px;
  left: 1415px;
  position: absolute;
  top: 782px;
  width: 130px;
}

.login-page .rectangle {
  background-color: #fffef4;
  height: 898px;
  left: 145px;
  position: absolute;
  top: 510px;
  transform: rotate(-147.68deg);
  width: 2167px;
}

.login-page .div {
  background-color: #166034;
  border-radius: 164.16px/171.25px;
  height: 342px;
  left: 1150px;
  position: absolute;
  top: 791px;
  transform: rotate(-104.64deg);
  width: 328px;
}

.login-page .img {
  height: 189px;
  left: 105px;
  position: absolute;
  top: 782px;
  width: 142px;
}

.login-page .vector-2 {
  height: 246px;
  left: 105px;
  position: absolute;
  top: 1507px;
  width: 96px;
}

.login-page .SOBRA-FUNDO {
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  backdrop-filter: blur(60px) brightness(100%);
  background: linear-gradient(180deg, rgba(22, 96, 52.4, 0.04) 26.5%, rgba(22, 96, 52.4, 0.96) 95%);
  border: 1px solid;
  border-color: transparent;
  height: 727px;
  left: 208px;
  position: absolute;
  top: 932px;
  width: 1226px;
}

.login-page .vector-3 {
  height: 180px;
  left: 362px;
  position: absolute;
  top: 880px;
  width: 464px;
}

.login-page .fundo {
  background: linear-gradient(180deg, rgba(36, 96, 22, 0) 13%, rgb(22, 96, 52.4) 97.5%);
  box-shadow: 0px 4px 35px #00000040;
  height: 699px;
  left: 221px;
  position: absolute;
  top: 940px;
  width: 1159px;
}

.login-page .p-GINA-NICIAL-a-ES {
  color: #271c00;
  font-family: "Inter-Bold", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 312px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 986px;
  width: 1041px;
}

.login-page .text-wrapper {
  font-weight: 700;
}

.login-page .span {
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
}

.login-page .rectangle-2 {
  background-color: #fffef4;
  border-radius: 58px;
  height: 482px;
  left: 564px;
  position: absolute;
  top: 1071px;
  width: 460px;
}

.login-page .ellipse-2 {
  background-color: #d9d9d9;
  border-radius: 10px/10.5px;
  height: 21px;
  left: 772px;
  position: absolute;
  top: 1495px;
  width: 20px;
}

.login-page .ellipse-3 {
  background-color: #d9d9d9;
  border-radius: 10px/10.5px;
  height: 21px;
  left: 805px;
  position: absolute;
  top: 1495px;
  width: 20px;
}

.login-page .ellipse-4 {
  background-color: #d9d9d9;
  border-radius: 10px/10.5px;
  height: 21px;
  left: 838px;
  position: absolute;
  top: 1496px;
  width: 20px;
}

.login-page .text-wrapper-2 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 713px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1137px;
  transform: rotate(-48.22deg);
}

.login-page .text-wrapper-3 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 734px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1120px;
  transform: rotate(-36.64deg);
}

.login-page .text-wrapper-4 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 757px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1103px;
  transform: rotate(-23.28deg);
}

.login-page .text-wrapper-5 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 792px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1095px;
  transform: rotate(-10.81deg);
}

.login-page .text-wrapper-6 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 814px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1093px;
  transform: rotate(0.54deg);
}

.login-page .text-wrapper-7 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 845px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1095px;
  transform: rotate(10.56deg);
}

.login-page .text-wrapper-8 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 860px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1102px;
  transform: rotate(20.36deg);
}

.login-page .text-wrapper-9 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 887px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1116px;
  transform: rotate(33.27deg);
}

.login-page .text-wrapper-10 {
  color: #b68f40;
  font-family: "Lemon-Regular", Helvetica;
  font-size: 32.3px;
  font-weight: 400;
  left: 910px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1135px;
  transform: rotate(46.63deg);
}

.login-page .ellipse-5 {
  width: 145px;
  height: 151px;
  transform: rotate(-0.409deg);
  flex-shrink: 0;
  border-radius: 151px;
  background: lightgray 50% / cover no-repeat;
}

.login-page .go-green-big-tree {
  height: 248px;
  left: 448px;
  position: absolute;
  top: 1405px;
  width: 255px;
}

.login-page .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 10px;
  font-weight: 200;
  left: 675px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1404px;
  white-space: nowrap;
}

.login-page .text-wrapper-12 {
  color: #000000;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 10px;
  font-weight: 200;
  left: 675px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1425px;
  white-space: nowrap;
}

.login-page .text-wrapper-13 {
  color: #000000;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 10px;
  font-weight: 200;
  left: 865px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1404px;
  white-space: nowrap;
}

.login-page .go-green-big-tree-2 {
  height: 261px;
  left: 194px;
  position: absolute;
  top: 1397px;
  width: 192px;
}

.login-page .go-green-big-wavy {
  height: 364px;
  left: 353px;
  position: absolute;
  top: 1314px;
  width: 173px;
}

.login-page .quadrado-v {
  background-color: #00000014;
  border-radius: 2px;
  box-shadow: 0px 4px 4px #00000040;
  height: 12px;
  left: 656px;
  position: absolute;
  top: 1405px;
  width: 13px;
}

.login-page .quadrado-v-2 {
  background-color: #b68f40b8;
  border-radius: 2px;
  box-shadow: 0px 4px 4px #00000040;
  height: 12px;
  left: 656px;
  position: absolute;
  top: 1426px;
  width: 13px;
}

.login-page .quadrado-v-3 {
  background-color: #00000014;
  border-radius: 2px;
  box-shadow: 0px 4px 4px #00000040;
  height: 12px;
  left: 968px;
  position: absolute;
  top: 1405px;
  width: 13px;
}

.login-page .rectangle-3 {
  background-color: #b68f40;
  border-radius: 7px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 37px;
  left: 653px;
  position: absolute;
  top: 1289px;
  width: 338px;
}

.login-page .text-wrapper-14 {
  color: #271c00;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 15px;
  font-weight: 200;
  left: 653px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1266px;
  width: 120px;
}

.login-page .text-wrapper-15 {
  color: #271c00;
  font-family: "Roboto-Light", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 778px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1522px;
  width: 86px;
}

.login-page .text-wrapper-16 {
  color: #271c00;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 15px;
  font-weight: 200;
  left: 653px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1339px;
  white-space: nowrap;
}

.login-page .rectangle-4 {
  background-color: #00b349;
  border-radius: 7px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 37px;
  left: 652px;
  position: absolute;
  top: 1358px;
  width: 338px;
}

.login-page .rectangle-5 {
  background-color: #166034;
  border-radius: 30px;
  height: 27px;
  left: 714px;
  position: absolute;
  top: 1449px;
  width: 218px;
}

.login-page .text-wrapper-17 {
  color: #fffef4;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 22px;
  font-weight: 800;
  left: 772px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1448px;
  white-space: nowrap;
}
